# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/

# Streamlit
.streamlit/secrets.toml

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db